{% load static %}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-2 d-flex flex-column align-items-center">
                <div style="width: 100px; height: 100px;" class="mb-2">
                    <img src="{{ question.author.get_avatar_url }}" alt="Author Avatar" class="img-fluid rounded-circle" style="width: 100px; height: 100px; object-fit: cover;">
                </div>
                <div class="d-flex flex-column align-items-center w-100">
                    <div class="mb-1 d-flex align-items-center justify-content-center w-100">
                        {% if user.is_authenticated %}
                            <button type="button"
                                    class="btn btn-sm text-center w-75 js-like-button 
                                           {% if question.user_has_liked %}btn-primary{% else %}btn-outline-primary{% endif %}"
                                    data-question-id="{{ question.id }}">
                                <span class="js-like-count">{{ question.likes_count }}</span> Likes
                            </button>
                        {% else %}
                            <a href="{% url 'login' %}?continue={{ request.get_full_path|urlencode }}"
                               class="btn btn-sm btn-outline-primary text-center w-75">
                                <span class="js-like-count">{{ question.likes_count }}</span> Likes
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column justify-content-between">
                <div>
                    <h5 class="card-title">
                        <a href = "{% url "question" question.id%}">{{question.title}}</a>
                    </h5>
                    <p class="card-text">
                        {{question.text}}
                    </p>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <p><a class="link-offset-3" href="{% url "question" question.id%}">Answers({{ question.get_answers_count }})</a></p>
                    </div>
                    <div class="col">
                        <span>Tags:</span>
                        {% for tag in question.tags.all %}
                        <a href="{% url 'tag' tag_name=tag %}" class="badge bg-light text-dark border text-decoration-none fs-8">
                            {{ tag }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

